//サイト共通SCSS
@use "../global";

.c-card {
	position: relative;
	background-color: var(--color-white);
	box-shadow: 0 0 16px #C9C7D83D;
	border: 1px solid #C9C7D83f;
	border-radius: 4px;
	&:hover {
		box-shadow: none;
	}

	.c-card__link {
		text-decoration: none;
		display: block;
		padding: 40px 40px 60px;
		height: 100%;

		.c-card__title {
			font-weight: var(--font-weight-bold);
			color: var(--color-link);
			margin-bottom: 0;
			line-height: 1.4;

			@include global.md {
				font-size: 19px;
			}
		}

		.c-card__img {
			contain: paint;
			margin-bottom: 16px;

			img {
				width: 100%;
				height: auto;
				aspect-ratio: 16 / 9;
				object-fit: contain;
				transition: transform 0.5s;
			}
		}

		.c-card__meta {
			margin-bottom: 10px;
		}

		.c-card__date {
			color: var(--color-text);
			margin-right: 10px;
		}

		.c-card__more {
			text-align: right;
			margin-bottom: 0;
			position: absolute;
			bottom: 10px;
			right: 20px;
			color: var(--color-red);
			font-weight: var(--font-weight-bold);
		}

		.c-card__excerpt {
			color: var(--color-text);
			font-size: 15px;
		}

		&:hover {
			.c-card__title,
			.c-card__excerpt,
			.c-card__more {
				text-decoration: underline;
			}

			.c-card__img {
				img {
					transform: scale(1.05);
				}
			}
		}
	}

	&.c-card--case {
		.c-card__link {
			padding-top: 30px;
		}

		.c-card__title {
			text-align: center;
			margin-bottom: 20px;
			@include global.sm {
				min-height: calc(2em * 1.4);
			}
		}
	}

	&.c-card--seminar {
		.c-card__excerpt {
			@include global.md {
				font-size: 19px;
			}
		}
	}
}