//サイト共通SCSS
@use "../global";

.c-category-tab {
	border-bottom: 17px solid var(--color-darkgray);

	.c-category-tab__list {
		margin: 60px 0 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 8px;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}
		@include global.md {
			overflow-x: hidden;
			overflow-y: visible;
			white-space: normal;
			column-gap: 16px;
		}
		.cat-item {
			flex-grow: 1;
			flex-basis: 25%;
			text-align: center;
			a {
				display: block;
				font-weight: var(--font-weight-bold);
				text-decoration: none;
				text-transform: uppercase;
				padding: 5px;
				background-color: var(--color-white);
				border: 1px solid var(--color-gray);
				box-shadow: 0 0 16px #C9C7D83D;
				transition: background-color 0.5s, color 0.5s, border-color 0.5s;
				@include global.xs {
					padding: 16px;
				}
				@include global.md {
					font-size: 24px;
				}
				&:hover {
					border-color: var(--color-darkgray);
					background-color: var(--color-darkgray);
					color: var(--color-white);
				}
			}
			&.current-cat {
				a {
					border-color: var(--color-darkgray);
					background-color: var(--color-darkgray);
					color: var(--color-white);
				}
			}
		}
	}
}

.post-type-archive-seminars {
	.c-category-tab--seminars {
		.cat-item-2 {
			a {
				border-color: var(--color-darkgray);
				background-color: var(--color-darkgray);
				color: var(--color-white);
			}
		}
	}
}
