//サイト共通SCSS
@use "../global";

.c-social-buttons {
	display: flex;
	gap: 14px;
	margin: 0;
	padding: 0;
	@include global.under_xs {
		justify-content: center;
	}
}

.c-social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white);
	border-radius: 50%;
	width: 42px;
	height: 42px;

	img {
		width: 24px;
		height: auto;
	}
}
