//サイト共通SCSS
@use "../global";

.wp-block-essential-blocks-advanced-tabs {
	.eb-tabs-nav {
		.tabTitles {

			@include global.under_sm {
				flex-wrap: wrap;
			}
			@include global.sm {
				gap: 20px;
				align-items: flex-start;
			}

			li {
				transition: background-color 0.5s, color 0.5s !important;

				@include global.under_sm {
					flex-basis: 50% !important;
				}

				.tab-title-text {
					font-size: clamp(13px, 3.5vw, 15px) !important;
					transition: color 0.5s;
					sup {
						top: 0;
					}
				}

				&.active {
					border-color: #444558 !important;
					@include global.sm {
						padding-bottom: 30px !important;
					}
				}

				&.inactive {
					&:hover {
						.tab-title-text {
							color: var(--color-white) !important;
						}
					}
				}
			}
		}
	}

	.eb-tabs-contents {
		.eb-tab-wrapper {
			transition: opacity 0.5s !important;

			.eb-tab-inner {
				position: relative;
				&::after {
					content: 'ISSUE 01';
					font-size: 120px;
					font-weight: 700;
					line-height: 1;
					color: rgba(151,196,213,0.15);
					position: absolute;
					right: 0;
					top: 0;
					z-index: 0;

					@include global.under_sm {
						font-size: 80px;
						left: 0;
					}
				}

				.wp-block-columns {
					position: relative;
					z-index: 1;
				}
			}

			&:nth-child(2) {
				.eb-tab-inner::after {
					content: 'ISSUE 02';
				}
			}
			&:nth-child(3) {
				.eb-tab-inner::after {
					content: 'ISSUE 03';
				}
			}
			&:nth-child(4) {
				.eb-tab-inner::after {
					content: 'ISSUE 04';
				}
			}
		}
	}
}

