@use "../global";

.l-cases-wrapper {
	@include global.md {
		display: grid;
		grid-template-columns: 5fr 3fr;
		gap: 32px;
	}
	@include global.lg {
		grid-template-columns: 800px 1fr;
	}
}

.l-cases__thumbnail {
	margin-bottom: 20px;
	text-align: center;
}

.l-cases__tags {
	margin-bottom: 30px;
}

.l-cases__footer {
	margin-top: 60px;
	margin-bottom: 60px;
}