@use "../global";

.l-archive {
	padding: 60px 0 90px;
}

.l-archive-articles {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	@include global.xs {
		grid-template-columns: repeat(2, 1fr);
	}
	@include global.md {
		grid-template-columns: repeat(3, 1fr);
		gap: 60px 40px;
	}

}