@use "../global";

.l-footer {
	font-size: 12px;
	@include global.lg {
		display: flex;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 0.75em;
			a {
				color: var(--color-text);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.l-footer__nav {
	background-color: var(--color-background);
	@include global.sm {
		flex-grow: 1;
	}
}

.l-footer-nav {
	display: flex;
	@include global.sm {
		justify-content: flex-end;
	}
}

.l-footer-nav-inner {
	padding: 40px;
	margin-inline: auto;
	@include global.xs {
		display: flex;
		justify-content: center;
		gap: 60px;
		padding: 50px;
	}
	@include global.lg {
		width: 60vw;
	}
}
.l-footer-nav-inner__logo {
	@include global.lg {
		flex-basis: 330px;
	}
}

.l-footer-logo {
	p {
		margin-bottom: 20px;
		@include global.under_xs {
			text-align: center;
		}
	}
	img {
		width: 230px;
		height: auto;
	}
}

.l-footer-sns {
	margin-bottom: 20px;
}


.l-footer-list {
	@include global.xs {
		display: flex;
		justify-content: space-between;
		gap: 60px;
	}
	@include global.under_xs {
		ul {
			display: flex;
			flex-wrap: wrap;
			column-gap: 20px;
		}
	}
}

.l-footer__copyright {
	@include global.sm {
		flex-grow: 1;
	}
}

.l-footer-copyright {
	padding: 40px 20px;
	@include global.xs {
		display: flex;
		gap: 40px;
		justify-content: center;
		padding: 50px;
	}
	@include global.lg {
		justify-content: flex-start;
	}
}

.l-footer-copyright__logo {
	@include global.under_sm {
		.l-footer-copyright__text {
			max-width: 240px;
			margin-inline: auto;
		}
	}
	@include global.under_xs {
		.l-footer-copyright__logo-img {
			text-align: center;
		}
	}
	@include global.lg {
		flex-basis: 240px;
	}

	img {
		width: 136px;
		height: auto;
	}

	p {
		font-size: 12px;
		line-height: 1.5;
	}
}

.l-footer-copyright__nav {
	@include global.under_xs {
		ul {
			display: flex;
			flex-wrap: wrap;
			column-gap: 20px;
			justify-content: center;
		}
		.l-footer-copyright__text {
			margin-top: 30px;
			max-width: 240px;
			margin-inline: auto;
		}
	}
}