//サイト共通SCSS
@use "../global";

.wp-block-group {
	margin-bottom: 40px;

	.is-style-has-gradient-bg {
		margin: 0;
	}

	.is-layout-grid {
		@include global.md {
			grid-gap: 40px;
		}

		@include global.under_sm {
			grid-template-columns: 1fr;
		}
	}
}

.is-style-has-shadow {
	background-color: var(--color-white);
	box-shadow: 0 0 36px #9BA4AF26;
	padding: 24px;
}

.is-style-has-gray-bg {
	background-color: var(--color-lightgray);
	padding: 24px;
}

