@charset "UTF-8";
/**
* 編集画面用CSS
*/
:root {
  --color-text: #2C2C2C;
  --color-accent: #6F7AFF;
  --color-background: #F5F5F5;
  --color-link: #2E37A5;
  --color-hover: #4D68FF;
  --color-shadow: #2C2C2C;
  --color-white: #FFFFFF;
  --color-red: #BF008C;
  --color-yellow: #EAC159;
  --color-orange: #FF4D4D;
  --color-pink: #FFEFEF;
  --color-green: #009111;
  --color-lightgreen: #EFFFF7;
  --color-blue: #2E37A5;
  --color-lightblue: #DBE2FF;
  --color-gray: #BFBFBF;
  --color-lightgray: #F5F5F5;
  --color-darkgray: #444558;
  --color-beige: #FFF0DD;
  --color-brown: #834700;
  --color-gradient-title: transparent linear-gradient(268deg, #2C2CAA 0%, #41323E 100%) 0% 0% no-repeat padding-box;
  --color-gradient-bg: transparent linear-gradient(180deg, #F0F4FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  --color-gradient-heading: transparent linear-gradient(95deg, #FFEDF4 0%, #F3DDFF 51%, #D9F8FF 100%) 0 0 no-repeat padding-box;
  --color-gradient-button: transparent linear-gradient(98deg, #7E7EFF 0%, #4A97FF 100%) 0 0 no-repeat padding-box;
  --color-gradient-button-hover: transparent linear-gradient(98deg, #FFFFFF 0%, #A8CDFF 100%) 0 0 no-repeat padding-box;
  --font-base: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro","游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ";
  --font-heading: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro";
  --font-weight-bold: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  outline: none;
  -webkit-touch-callout: none;
}

a:focus,
*:focus {
  outline: none;
}

a {
  color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* form */
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

textarea {
  display: block;
  overflow: auto;
}

fieldset {
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
  border: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: var(--color-text);
  font-family: var(--font-base), sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "palt";
  font-size: 16px;
  line-height: 1.625;
}

p {
  margin-bottom: 1em;
  line-height: 1.875;
}

a {
  color: var(--color-text);
  transition: color 0.5s, -webkit-text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
a:hover {
  color: var(--color-hover);
}
a:hover img {
  opacity: 0.65;
}

b,
strong {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
@media not all and (min-width: 782px) {
  h2 {
    font-size: clamp(20px, 5.2vw, 24px);
  }
}
@media (min-width: 782px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media not all and (min-width: 782px) {
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 782px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul,
.content ol {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.content ul {
  list-style: disc;
}
.content ul > li::marker {
  color: var(--color-font);
  font-size: 1.25em;
}
.content dl {
  width: 100%;
  margin-bottom: 1.5em;
}

table {
  width: 100%;
  margin-bottom: 4.5em;
}
table th,
table td {
  text-align: left;
  border: 1px solid var(--color-gray);
  padding: 1em;
}
table th {
  background-color: var(--color-lightgray);
  word-break: keep-all;
}
table td {
  background-color: var(--color-white);
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

@media not all and (min-width: 782px) {
  :root {
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--xlarge: 28px;
    --wp--preset--font-size--huge: 32px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body.menu-open {
  height: 100%;
  overflow: hidden;
}

/* ==========================================================================
  blocks
========================================================================== */
.p-home-kv {
  padding-top: 40px;
}
@media not all and (min-width: 1024px) {
  .p-home-kv {
    background-image: url("../images/home-kv-bg-sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .p-home-kv .wp-block-cover__image-background {
    display: none;
  }
}
@media not all and (min-width: 1280px) {
  .p-home-kv .wp-block-columns.is-layout-flex {
    gap: 20px;
  }
}
@media not all and (min-width: 1280px) {
  .p-home-kv .wp-block-columns.is-layout-flex .wp-block-column:first-child {
    flex-basis: 50% !important;
  }
}
@media not all and (min-width: 1024px) {
  .p-home-kv .wp-block-columns.is-layout-flex .wp-block-column:first-child {
    flex-basis: 100% !important;
  }
}
.p-home-kv .wp-block-image {
  margin-bottom: 0;
}
@media not all and (min-width: 1024px) {
  .p-home-kv p {
    font-size: clamp(14px, 3vw, 18px);
    text-align: center;
    margin-bottom: 30px;
  }
}
@media not all and (min-width: 1024px) {
  .p-home-kv .wp-block-heading {
    font-size: clamp(22px, 5.5vw, 28px);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .p-home-kv .wp-block-buttons.is-content-justification-center {
    margin-top: 40px !important;
    justify-content: flex-start;
  }
}

.p-home-logos {
  padding: 20px;
  display: flex;
  contain: paint;
}
@media not all and (min-width: 782px) {
  .p-home-logos {
    padding: 10px;
  }
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner {
  overflow: hidden;
  display: block !important;
  white-space: nowrap;
  width: max-content;
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image {
  display: inline-block !important;
  width: auto !important;
  height: 48px;
  padding: 10px;
  vertical-align: middle;
}
@media (min-width: 782px) {
  .p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image {
    height: 72px;
    margin-right: 10px !important;
  }
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image img {
  max-height: 100%;
  height: 100%;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}

@media not all and (min-width: 1024px) {
  .p-home-section-banners.is-layout-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.p-home-section-can-solve {
  background-image: url("../images/home-can-solve-bg.jpg");
  background-repeat: no-repeat;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve {
    background-position: left center;
    background-size: 80% auto;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve {
    background-position: left bottom;
  }
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .is-layout-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box {
    position: relative;
    margin-left: 16px;
  }
}
.p-home-section-can-solve .p-home-section-can-solve__box h3 {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h3 {
    padding: 10px;
    width: calc(100% + 48px);
    transform: translateX(-24px);
    margin: -24px auto 1em;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h3 {
    line-height: 1.2;
    padding: 10px 20px;
    position: absolute;
    left: -16px;
    top: -32px;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark {
    display: block;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark:first-child {
    font-size: 12px;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark:last-child {
    font-size: 32px;
  }
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h4 {
    text-align: center;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h4 {
    margin-top: 12px;
    padding-left: 60px;
  }
}
.p-home-section-can-solve .p-home-section-can-solve__more {
  margin-bottom: 0;
  text-decoration: none;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__more {
    text-align: center;
  }
}
.p-home-section-can-solve:hover h3,
.p-home-section-can-solve:hover .p-home-section-can-solve__more a {
  text-decoration: none !important;
}

.p-home-section .is-style-has-shadow {
  border-radius: 4px;
}
.p-home-section .p-home-section__button {
  margin: 30px auto 40px;
}
@media (min-width: 782px) {
  .p-home-section .p-home-section__inner {
    position: relative;
  }
  .p-home-section .p-home-section__inner.container {
    padding-inline: 0;
  }
  .p-home-section .p-home-section__inner .p-home-section__button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 0;
  }
}

.p-home-seminars {
  padding: 40px 20px;
  background-image: url("../images/home-seminars-bg.jpg");
  background-repeat: no-repeat;
}
@media not all and (min-width: 782px) {
  .p-home-seminars {
    background-position: right center;
    background-size: 80% auto;
  }
}
@media (min-width: 782px) {
  .p-home-seminars {
    background-position: right bottom;
  }
}
.p-home-seminars .l-archive-articles {
  gap: 40px;
}
@media (min-width: 782px) {
  .p-home-seminars .l-archive-articles {
    margin-bottom: 30px;
  }
}
@media not all and (min-width: 782px) {
  .p-home-seminars .p-home-section__inner .p-home-section__button {
    right: 20px;
  }
}

.p-home-cases {
  padding: 40px 20px 60px;
  margin-top: 60px;
  background-color: #F5F9FA;
  box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.1019607843);
}
.p-home-cases .l-archive-articles {
  gap: 40px;
}
@media (min-width: 782px) {
  .p-home-cases .l-archive-articles {
    margin-bottom: 30px;
  }
}

.p-home-news {
  padding-bottom: 40px;
}
.p-home-news .p-home-news__list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 60px;
}
.p-home-news .p-home-news__list .p-home-news__link {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-lightgray);
  padding: 10px;
  transition: background-color 0.5s;
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__meta {
  padding-left: 10px;
}
@media (min-width: 782px) {
  .p-home-news .p-home-news__list .p-home-news__link .p-home-news__meta {
    font-size: 18px;
  }
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__label {
  margin-left: 16px;
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__title {
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}
@media (min-width: 782px) {
  .p-home-news .p-home-news__list .p-home-news__link .p-home-news__title {
    font-size: 20px;
  }
}
.p-home-news .p-home-news__list .p-home-news__link:hover {
  background-color: #f9f9f9;
}
.p-home-news .p-home-news__list .p-home-news__link:hover .p-home-news__title {
  text-decoration: underline;
}

.p-home-seminars .container,
.p-home-cases .container,
.p-home-news .container {
  padding-inline: 0;
}

.wp-block-button__link {
  border-radius: 0;
  padding: 0.75em 2em;
  color: var(--color-white);
  transition: opacity 0.5s;
}
.wp-block-button__link:hover {
  color: var(--color-white);
  opacity: 0.6;
}

.is-style-icon-arrow-gradient .wp-block-button__link {
  color: var(--color-white);
  background: var(--color-gradient-button);
  position: relative;
  z-index: 1;
  transition: color 0.5s, background-color 0.5s, opacity 0s;
}
.is-style-icon-arrow-gradient .wp-block-button__link::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
}
.is-style-icon-arrow-gradient .wp-block-button__link::before {
  content: "";
  background: var(--color-gradient-button-hover);
  border: 1px solid transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
  width: 0;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover {
  opacity: 1;
  color: #2E37A5;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover::after {
  color: #2E37A5;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover::before {
  width: 100%;
  border-color: #B7BDFF;
}
.is-style-icon-arrow-gradient .wp-block-button__link {
  padding: 0.75em 3em 0.75em 2.5em;
}
.is-style-icon-arrow-gradient .wp-block-button__link::after {
  position: absolute;
  top: 50%;
  right: 12px;
  height: 8px;
  width: 8px;
  -webkit-mask-image: url("../images/icon-arrow-right.svg");
          mask-image: url("../images/icon-arrow-right.svg");
  transform: translateY(-50%);
}

.is-style-icon-download-gradient .wp-block-button__link {
  color: var(--color-white);
  background: var(--color-gradient-button);
  position: relative;
  z-index: 1;
  transition: color 0.5s, background-color 0.5s, opacity 0s;
}
.is-style-icon-download-gradient .wp-block-button__link::before {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
}
.is-style-icon-download-gradient .wp-block-button__link::after {
  content: "";
  background: var(--color-gradient-button-hover);
  border: 1px solid transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
  width: 0;
}
.is-style-icon-download-gradient .wp-block-button__link:hover {
  opacity: 1;
  color: var(--color-link);
}
.is-style-icon-download-gradient .wp-block-button__link:hover::before {
  color: var(--color-link);
}
.is-style-icon-download-gradient .wp-block-button__link:hover::after {
  width: 100%;
  border-color: #B7BDFF;
}
.is-style-icon-download-gradient .wp-block-button__link::before {
  height: 1em;
  width: 1em;
  margin-right: 10px;
  -webkit-mask-image: url("../images/icon-download.svg");
          mask-image: url("../images/icon-download.svg");
  transform: translateY(-3px);
}

.is-style-icon-download-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-download-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-download-outline .wp-block-button__link::before {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  margin-right: 10px;
  -webkit-mask-image: url("../images/icon-download.svg");
          mask-image: url("../images/icon-download.svg");
  transform: translateY(-3px);
}

.is-style-icon-arrow-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-arrow-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-arrow-outline .wp-block-button__link {
  padding: 0.75em 3em 0.75em 2.5em;
  position: relative;
}
.is-style-icon-arrow-outline .wp-block-button__link::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 12px;
  height: 8px;
  width: 8px;
  -webkit-mask-image: url("../images/icon-arrow-right.svg");
          mask-image: url("../images/icon-arrow-right.svg");
  transform: translateY(-50%);
}

.is-style-icon-modal-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-modal-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-modal-outline .wp-block-button__link {
  padding: 10px 50px 10px 30px;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  box-shadow: 2px 2px 8px 0 rgba(155, 164, 175, 0.1490196078);
  color: var(--color-blue);
  position: relative;
  font-size: 12px;
}
@media not all and (min-width: 1024px) {
  .is-style-icon-modal-outline .wp-block-button__link {
    width: 100%;
  }
}
@media (min-width: 782px) {
  .is-style-icon-modal-outline .wp-block-button__link {
    font-size: 15px;
  }
}
.is-style-icon-modal-outline .wp-block-button__link::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-popup.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.is-style-with-image-circle {
  width: 100%;
  position: relative;
}
.is-style-with-image-circle::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  transform: rotate(45deg) translateY(-50%);
  transition: border-color 0.5s;
}
.is-style-with-image-circle:hover::after {
  border-color: var(--color-accent);
}
.is-style-with-image-circle .wp-block-button__link {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 0.75em;
  text-align: left;
  color: var(--color-blue);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(155, 164, 175, 0.1490196078);
  transition: background-color 0.5s, box-shadow 0.5s;
  position: relative;
}
@media (min-width: 1280px) {
  .is-style-with-image-circle .wp-block-button__link {
    height: 120px;
    grid-template-columns: 125px 1fr;
  }
}
.is-style-with-image-circle .wp-block-button__link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 36px;
  background: linear-gradient(180deg, #7E7EFF 0%, #4A97FF 100%) 0 0 no-repeat;
  transition: opacity 0.5s;
}
.is-style-with-image-circle .wp-block-button__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 36px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.5s;
}
.is-style-with-image-circle .wp-block-button__link sup {
  grid-area: 1/1/3/2;
}
.is-style-with-image-circle .wp-block-button__link sup img {
  transform: translateY(-25px);
}
.is-style-with-image-circle .wp-block-button__link strong {
  grid-area: 1/2/2/3;
  font-size: 22px;
  line-height: 1.2;
  place-content: end;
}
@media (min-width: 1024px) {
  .is-style-with-image-circle .wp-block-button__link strong {
    font-size: 28px;
  }
}
.is-style-with-image-circle .wp-block-button__link em {
  grid-area: 2/2/3/3;
  font-style: normal;
  line-height: 2;
}
.is-style-with-image-circle .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-with-image-circle .wp-block-button__link:hover::before {
  opacity: 0;
}
.is-style-with-image-circle .wp-block-button__link:hover::after {
  opacity: 1;
}
.is-style-with-image-circle .wp-block-button__link:hover img {
  opacity: 1;
}

.wp-block-simple-definition-list-blocks-list .wp-block-simple-definition-list-blocks-div {
  display: flex;
}
.wp-block-simple-definition-list-blocks-list .wp-block-simple-definition-list-blocks-term {
  font-weight: var(--font-weight-bold);
  flex-basis: 6.5rem;
}

.wp-block-group {
  margin-bottom: 40px;
}
.wp-block-group .is-style-has-gradient-bg {
  margin: 0;
}
@media (min-width: 1024px) {
  .wp-block-group .is-layout-grid {
    grid-gap: 40px;
  }
}
@media not all and (min-width: 782px) {
  .wp-block-group .is-layout-grid {
    grid-template-columns: 1fr;
  }
}

.is-style-has-shadow {
  background-color: var(--color-white);
  box-shadow: 0 0 36px rgba(155, 164, 175, 0.1490196078);
  padding: 24px;
}

.is-style-has-gray-bg {
  background-color: var(--color-lightgray);
  padding: 24px;
}

.is-style-has-gradient-bg {
  background: linear-gradient(130deg, #FFEDF4 0%, #F3DDFF 51%, #D9F8FF 100%) 0 0 no-repeat;
  box-shadow: 0px -20px 30px rgba(70, 70, 70, 0.1019607843);
}

.is-style-has-gradient-bg-dark {
  background: transparent linear-gradient(120deg, #2A2189 0%, #531C29 100%) 0 0 no-repeat;
  box-shadow: 0px -20px 30px rgba(70, 70, 70, 0.1019607843);
}

.has-gradient1-gradient-background {
  background: var(--color-gradient-title);
}

.has-gradient2-gradient-background {
  background: var(--color-gradient-heading);
}

.has-gradient3-gradient-background {
  background: var(--color-gradient-bg);
}

.has-gradient4-gradient-background {
  background: var(--color-gradient-button);
}

.is-style-gradient-pb {
  padding: 12px 20px;
  background: var(--color-gradient-heading);
}

.is-style-underline-gradient {
  position: relative;
  z-index: 1;
}
.is-style-underline-gradient::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  z-index: -1;
  width: 50%;
  max-width: 440px;
  height: 20px;
  background: transparent linear-gradient(90deg, #7E7EFF 0%, #608CFF 51%, rgba(74, 151, 255, 0) 100%) 0 0 no-repeat;
  opacity: 0.4;
  transform: translateX(100%);
}
@media (min-width: 782px) {
  .is-style-underline-gradient::after {
    bottom: -10px;
    height: 40px;
  }
}

.is-style-left-gradient {
  position: relative;
  z-index: 1;
  padding-left: 0.8em;
}
.is-style-left-gradient::before {
  content: "";
  position: absolute;
  left: 0;
  top: -28px;
  z-index: -1;
  width: 72px;
  height: 60px;
  background: transparent linear-gradient(90deg, #7E7EFF 0%, #608CFF 51%, rgba(74, 151, 255, 0) 100%) 0 0 no-repeat;
  opacity: 0.4;
}
@media not all and (min-width: 782px) {
  .is-style-left-gradient {
    text-align: center;
  }
  .is-style-left-gradient::before {
    width: 60px;
    height: 45px;
    left: auto;
    top: -20px;
    transform: translateX(-50%);
  }
}

.wp-block-image {
  margin-bottom: 40px;
}
.wp-block-image .wp-element-caption {
  color: var(--color-text);
  text-align: left;
  font-size: 16px;
}

.is-style-photo-frame {
  margin-right: 10px;
}
.is-style-photo-frame img {
  box-shadow: 10px 10px 0 var(--color-lightblue);
}

.is-style-background-color-white {
  background-color: var(--color-white);
}

.content .is-style-toc {
  list-style: none;
  margin: 0;
}

.is-style-toc {
  list-style: none;
}
.is-style-toc > li > a {
  color: var(--color-text);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
.is-style-toc > li > a:hover {
  color: var(--color-hover);
}
.is-style-toc > li > .wp-block-list {
  list-style: none;
}
.is-style-toc > li > .wp-block-list li a {
  color: var(--color-link);
  font-size: 16px;
  text-decoration: underline;
}
.is-style-toc > li > .wp-block-list li a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-arrow-gradient.svg") no-repeat;
  width: 18px;
  height: 16px;
  margin-top: 6px;
  margin-right: 4px;
}
.is-style-toc > li > .wp-block-list li a:hover {
  color: var(--color-hover);
}
.is-style-toc > li + li {
  margin-top: 10px;
}

.is-style-button-coming-soon {
  font-size: 12px;
  color: #848484;
  border: 2px solid #BEBEBE;
  background-color: var(--color-white);
  padding: 8px 16px 8px 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media not all and (min-width: 1024px) {
  .is-style-button-coming-soon {
    flex-basis: 100%;
    text-align: center;
  }
}
@media (min-width: 782px) {
  .is-style-button-coming-soon {
    font-size: 15px;
  }
}
.is-style-button-coming-soon mark {
  text-align: center;
  flex-grow: 1;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .is-style-button-coming-soon mark {
    padding-left: 86px;
  }
}
.is-style-button-coming-soon::after {
  content: "coming soon";
  display: inline-block;
  vertical-align: text-top;
  font-size: 9px;
  color: var(--color-text);
  background-color: #BEBEBE;
  border-radius: 30px;
  padding: 4px 16px;
  margin-left: 2em;
  white-space: nowrap;
}

.editor-styles-wrapper.block-editor-writing-flow {
  padding-bottom: 60px;
}
.editor-styles-wrapper .wp-block-post-title {
  margin-bottom: 1.2em;
  padding: 20px;
  border: 2px solid #ddd;
  background-color: #fefefe;
}
.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
  margin-bottom: 1em;
}
.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
  margin-left: 1.5em;
}
.editor-styles-wrapper ul {
  list-style: disc;
}
.editor-styles-wrapper .wp-block-group {
  border: 1px dotted #ddd;
}

/*# sourceMappingURL=editor.css.map */