@charset "UTF-8";
/* ==========================================================================
  foundation
========================================================================== */
:root {
  --color-text: #2C2C2C;
  --color-accent: #6F7AFF;
  --color-background: #F5F5F5;
  --color-link: #2E37A5;
  --color-hover: #4D68FF;
  --color-shadow: #2C2C2C;
  --color-white: #FFFFFF;
  --color-red: #BF008C;
  --color-yellow: #EAC159;
  --color-orange: #FF4D4D;
  --color-pink: #FFEFEF;
  --color-green: #009111;
  --color-lightgreen: #EFFFF7;
  --color-blue: #2E37A5;
  --color-lightblue: #DBE2FF;
  --color-gray: #BFBFBF;
  --color-lightgray: #F5F5F5;
  --color-darkgray: #444558;
  --color-beige: #FFF0DD;
  --color-brown: #834700;
  --color-gradient-title: transparent linear-gradient(268deg, #2C2CAA 0%, #41323E 100%) 0% 0% no-repeat padding-box;
  --color-gradient-bg: transparent linear-gradient(180deg, #F0F4FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  --color-gradient-heading: transparent linear-gradient(95deg, #FFEDF4 0%, #F3DDFF 51%, #D9F8FF 100%) 0 0 no-repeat padding-box;
  --color-gradient-button: transparent linear-gradient(98deg, #7E7EFF 0%, #4A97FF 100%) 0 0 no-repeat padding-box;
  --color-gradient-button-hover: transparent linear-gradient(98deg, #FFFFFF 0%, #A8CDFF 100%) 0 0 no-repeat padding-box;
  --font-base: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro","游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ";
  --font-heading: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro";
  --font-weight-bold: 500;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  outline: none;
  -webkit-touch-callout: none;
}

a:focus,
*:focus {
  outline: none;
}

a {
  color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* form */
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

textarea {
  display: block;
  overflow: auto;
}

fieldset {
  margin: 0;
  padding: 0.35em 0.75em 0.625em;
  border: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: var(--color-text);
  font-family: var(--font-base), sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "palt";
  font-size: 16px;
  line-height: 1.625;
}

p {
  margin-bottom: 1em;
  line-height: 1.875;
}

a {
  color: var(--color-text);
  transition: color 0.5s, -webkit-text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
a:hover {
  color: var(--color-hover);
}
a:hover img {
  opacity: 0.65;
}

b,
strong {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
@media not all and (min-width: 782px) {
  h2 {
    font-size: clamp(20px, 5.2vw, 24px);
  }
}
@media (min-width: 782px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media not all and (min-width: 782px) {
  h3 {
    font-size: 18px;
  }
}
@media (min-width: 782px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content ul,
.content ol {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.content ul {
  list-style: disc;
}
.content ul > li::marker {
  color: var(--color-font);
  font-size: 1.25em;
}
.content dl {
  width: 100%;
  margin-bottom: 1.5em;
}

table {
  width: 100%;
  margin-bottom: 4.5em;
}
table th,
table td {
  text-align: left;
  border: 1px solid var(--color-gray);
  padding: 1em;
}
table th {
  background-color: var(--color-lightgray);
  word-break: keep-all;
}
table td {
  background-color: var(--color-white);
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

@media not all and (min-width: 782px) {
  :root {
    --wp--preset--font-size--large: 24px;
    --wp--preset--font-size--xlarge: 28px;
    --wp--preset--font-size--huge: 32px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body.menu-open {
  height: 100%;
  overflow: hidden;
}

/* ==========================================================================
  layout
========================================================================== */
.l-archive {
  padding: 60px 0 90px;
}

.l-archive-articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 600px) {
  .l-archive-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .l-archive-articles {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
  }
}

.l-article--seminar {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .l-article--seminar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 72px;
  }
  .l-article--seminar .l-article__content {
    flex-basis: 50%;
    position: sticky;
    top: 97px;
  }
  .l-article--seminar .l-article__form {
    flex-basis: 50%;
  }
}

.admin-bar .l-article--seminar .l-article__content {
  top: 139px;
}
@media screen and (max-width: 782px) {
  .admin-bar .l-article--seminar .l-article__content {
    top: 153px;
  }
}

.l-article__meta {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 40px;
}

.l-article__title {
  font-size: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 60px;
}

.l-article__date {
  font-size: 19px;
}

.l-article__footer {
  margin-top: 60px;
  margin-bottom: 85px;
}

.l-article-share {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 60px;
}

.l-article-share-title {
  font-weight: 400;
  margin: 0;
}

.l-breadcrumb {
  margin-top: 10px;
  margin-bottom: 60px;
}
.l-breadcrumb .l-breadcrumb__list {
  display: flex;
  margin-left: 0;
}
.l-breadcrumb .l-breadcrumb__item {
  list-style: none;
}
.l-breadcrumb .l-breadcrumb__item + .l-breadcrumb__item::before {
  margin: 0 0.5em;
  content: ">";
}

.container {
  max-width: 1280px;
  box-sizing: content-box;
  margin-inline: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 782px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container--narrow {
  max-width: 980px;
}

.l-contents {
  margin-inline: auto;
}

.l-footer {
  font-size: 12px;
}
@media (min-width: 1280px) {
  .l-footer {
    display: flex;
  }
}
.l-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.l-footer ul li {
  margin-bottom: 0.75em;
}
.l-footer ul li a {
  color: var(--color-text);
  text-decoration: none;
}
.l-footer ul li a:hover {
  text-decoration: underline;
}

.l-footer__nav {
  background-color: var(--color-background);
}
@media (min-width: 782px) {
  .l-footer__nav {
    flex-grow: 1;
  }
}

.l-footer-nav {
  display: flex;
}
@media (min-width: 782px) {
  .l-footer-nav {
    justify-content: flex-end;
  }
}

.l-footer-nav-inner {
  padding: 40px;
  margin-inline: auto;
}
@media (min-width: 600px) {
  .l-footer-nav-inner {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 50px;
  }
}
@media (min-width: 1280px) {
  .l-footer-nav-inner {
    width: 60vw;
  }
}

@media (min-width: 1280px) {
  .l-footer-nav-inner__logo {
    flex-basis: 330px;
  }
}

.l-footer-logo p {
  margin-bottom: 20px;
}
@media not all and (min-width: 600px) {
  .l-footer-logo p {
    text-align: center;
  }
}
.l-footer-logo img {
  width: 230px;
  height: auto;
}

.l-footer-sns {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .l-footer-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
}
@media not all and (min-width: 600px) {
  .l-footer-list ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}

@media (min-width: 782px) {
  .l-footer__copyright {
    flex-grow: 1;
  }
}

.l-footer-copyright {
  padding: 40px 20px;
}
@media (min-width: 600px) {
  .l-footer-copyright {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 50px;
  }
}
@media (min-width: 1280px) {
  .l-footer-copyright {
    justify-content: flex-start;
  }
}

@media not all and (min-width: 782px) {
  .l-footer-copyright__logo .l-footer-copyright__text {
    max-width: 240px;
    margin-inline: auto;
  }
}
@media not all and (min-width: 600px) {
  .l-footer-copyright__logo .l-footer-copyright__logo-img {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .l-footer-copyright__logo {
    flex-basis: 240px;
  }
}
.l-footer-copyright__logo img {
  width: 136px;
  height: auto;
}
.l-footer-copyright__logo p {
  font-size: 12px;
  line-height: 1.5;
}

@media not all and (min-width: 600px) {
  .l-footer-copyright__nav ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
  }
  .l-footer-copyright__nav .l-footer-copyright__text {
    margin-top: 30px;
    max-width: 240px;
    margin-inline: auto;
  }
}

@media not all and (min-width: 1024px) {
  .l-gnav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: calc(100svh - 70px);
    background-color: var(--color-white);
    box-shadow: 0 6px 10px -8px var(--color-gray);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list {
    border-top: 1px solid var(--color-lightgray);
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    height: 77px;
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item > a {
    padding: 5px 20px 5px 20px;
  }
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item > a:hover {
    color: var(--color-white);
    background-color: var(--color-gray);
  }
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item > a:hover::after {
    border-color: var(--color-white);
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item.l-gnav__item--has-child > a {
    padding: 5px 28px 5px 15px;
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item + .l-gnav__item:not(.l-gnav__item--contact) {
    border-top: 1px solid var(--color-lightgray);
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item.l-gnav__item--contact {
    padding: 20px;
  }
}
.l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item.l-gnav__item--contact a {
  border-radius: 0;
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item.l-gnav__item--contact a {
    padding: 24px 10px;
    font-size: clamp(20px, 6vw, 24px);
  }
}
.l-gnav .l-gnav__inner > .l-gnav__list > .l-gnav__item.l-gnav__item--contact a.c-link-button:hover {
  color: var(--color-link);
}
.l-gnav .l-gnav__inner .l-gnav__item {
  list-style: none;
  position: relative;
}
.l-gnav .l-gnav__inner .l-gnav__item a {
  display: block;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  font-size: clamp(12px, 4vw, 16px);
  font-weight: var(--font-weight-bold);
  font-feature-settings: "palt" 0;
  transition: color 0.5s, background-color 0.5s;
}
.l-gnav .l-gnav__inner .l-gnav__item a:not(.c-link-button) {
  border-radius: 8px;
}
@media not all and (min-width: 782px) {
  .l-gnav .l-gnav__inner .l-gnav__item a {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item a {
    font-size: 14px;
  }
}
.l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child a::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 26px;
  width: 16px;
  height: 16px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
  transform: rotate(135deg);
  transition: border-color 0.5s;
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child a::after {
    width: 8px;
    height: 8px;
    border-top-width: 2px;
    border-right-width: 2px;
    top: 12px;
    right: 12px;
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child.is-active a::after {
    top: 32px;
    transform: rotate(315deg);
  }
}
.l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child {
  padding: 0;
  margin: 0;
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child {
    padding-bottom: 10px;
  }
}
.l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item {
  text-align: left;
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item {
    background-color: var(--color-lightgray);
  }
}
.l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item > a {
  font-weight: 400;
  white-space: nowrap;
  padding: 0 42px 8px 32px;
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item > a {
    padding: 12px 42px 12px 25px;
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item > a::after {
    content: none;
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child > .l-gnav__item > a::after {
    transform: rotate(45deg);
    top: 20px;
  }
}
@media (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child {
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    padding-top: 5px;
    transition: opacity 0.5s;
  }
}
@media not all and (min-width: 1024px) {
  .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child > .l-gnav__child {
    display: none;
  }
}
.l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child:hover > .l-gnav__child, .l-gnav .l-gnav__inner .l-gnav__item.l-gnav__item--has-child:active > .l-gnav__child {
  visibility: visible;
  opacity: 1;
}

.admin-bar .l-gnav {
  top: 70px;
}

.site-header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(155, 164, 175, 0.1490196078);
  height: 70px;
  z-index: 3;
}
@media (min-width: 1024px) {
  .site-header {
    height: 77px;
  }
}

.l-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 70px;
  padding-inline: 20px;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .l-header {
    height: 77px;
    padding-inline: 20px;
  }
}
@media not all and (min-width: 1024px) {
  .l-header .l-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }
}
.l-header .l-header__logo {
  margin: 0;
}
.l-header .l-header__logo img {
  width: auto;
  height: 34px;
}
@media (min-width: 1024px) {
  .l-header .l-header__logo img {
    height: 42px;
  }
}
.l-header .l-header__nav {
  flex-grow: 1;
}

.l-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 1024px) {
  .l-header-nav .l-header-nav__inquiry a {
    height: 77px;
  }
}
@media not all and (min-width: 1024px) {
  .l-header-nav .l-header-nav__tel {
    height: 70px;
    padding-right: 20px;
    display: grid;
    place-items: center;
  }
}

.l-header-toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.admin-bar .site-header {
  top: 32px;
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header {
    top: 46px;
  }
}
@media screen and (max-width: 600px) {
  .admin-bar .site-header {
    top: 0;
  }
}

.columns {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 80px;
}
@media (min-width: 600px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 600px) {
  .columns--left-wide {
    grid-template-columns: repeat(3, 1fr);
  }
  .columns--left-wide .column:first-child {
    grid-area: 1/1/2/3;
  }
  .columns--left-wide .column:nth-child(2) {
    grid-area: 1/3/2/4;
  }
}

@media not all and (min-width: 600px) {
  .columns--reverse .column:first-child {
    order: 2;
  }
}

.column-full {
  margin-bottom: 60px;
}

@media (min-width: 782px) {
  .columns--three {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

@media (min-width: 782px) {
  .columns--four {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.column > ul, .column > ol, .column > dl, .column > table {
  margin-bottom: 1.5em;
}

.l-main {
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 782px) {
  .l-main {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 77px;
    max-width: 1280px;
    margin-inline: auto;
  }
}

/* ==========================================================================
  project
========================================================================== */
.p-home-kv {
  padding-top: 40px;
}
@media not all and (min-width: 1024px) {
  .p-home-kv {
    background-image: url("../images/home-kv-bg-sp.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .p-home-kv .wp-block-cover__image-background {
    display: none;
  }
}
@media not all and (min-width: 1280px) {
  .p-home-kv .wp-block-columns.is-layout-flex {
    gap: 20px;
  }
}
@media not all and (min-width: 1280px) {
  .p-home-kv .wp-block-columns.is-layout-flex .wp-block-column:first-child {
    flex-basis: 50% !important;
  }
}
@media not all and (min-width: 1024px) {
  .p-home-kv .wp-block-columns.is-layout-flex .wp-block-column:first-child {
    flex-basis: 100% !important;
  }
}
.p-home-kv .wp-block-image {
  margin-bottom: 0;
}
@media not all and (min-width: 1024px) {
  .p-home-kv p {
    font-size: clamp(14px, 3vw, 18px);
    text-align: center;
    margin-bottom: 30px;
  }
}
@media not all and (min-width: 1024px) {
  .p-home-kv .wp-block-heading {
    font-size: clamp(22px, 5.5vw, 28px);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .p-home-kv .wp-block-buttons.is-content-justification-center {
    margin-top: 40px !important;
    justify-content: flex-start;
  }
}

.p-home-logos {
  padding: 20px;
  display: flex;
  contain: paint;
}
@media not all and (min-width: 782px) {
  .p-home-logos {
    padding: 10px;
  }
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner {
  overflow: hidden;
  display: block !important;
  white-space: nowrap;
  width: max-content;
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image {
  display: inline-block !important;
  width: auto !important;
  height: 48px;
  padding: 10px;
  vertical-align: middle;
}
@media (min-width: 782px) {
  .p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image {
    height: 72px;
    margin-right: 10px !important;
  }
}
.p-home-logos .wp-block-gallery.p-home-logos__slider-inner .wp-block-image img {
  max-height: 100%;
  height: 100%;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}

@media not all and (min-width: 1024px) {
  .p-home-section-banners.is-layout-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.p-home-section-can-solve {
  background-image: url("../images/home-can-solve-bg.jpg");
  background-repeat: no-repeat;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve {
    background-position: left center;
    background-size: 80% auto;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve {
    background-position: left bottom;
  }
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .is-layout-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box {
    position: relative;
    margin-left: 16px;
  }
}
.p-home-section-can-solve .p-home-section-can-solve__box h3 {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h3 {
    padding: 10px;
    width: calc(100% + 48px);
    transform: translateX(-24px);
    margin: -24px auto 1em;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h3 {
    line-height: 1.2;
    padding: 10px 20px;
    position: absolute;
    left: -16px;
    top: -32px;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark {
    display: block;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark:first-child {
    font-size: 12px;
  }
  .p-home-section-can-solve .p-home-section-can-solve__box h3 mark:last-child {
    font-size: 32px;
  }
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h4 {
    text-align: center;
  }
}
@media (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__box h4 {
    margin-top: 12px;
    padding-left: 60px;
  }
}
.p-home-section-can-solve .p-home-section-can-solve__more {
  margin-bottom: 0;
  text-decoration: none;
}
@media not all and (min-width: 782px) {
  .p-home-section-can-solve .p-home-section-can-solve__more {
    text-align: center;
  }
}
.p-home-section-can-solve:hover h3,
.p-home-section-can-solve:hover .p-home-section-can-solve__more a {
  text-decoration: none !important;
}

.p-home-section .is-style-has-shadow {
  border-radius: 4px;
}
.p-home-section .p-home-section__button {
  margin: 30px auto 40px;
}
@media (min-width: 782px) {
  .p-home-section .p-home-section__inner {
    position: relative;
  }
  .p-home-section .p-home-section__inner.container {
    padding-inline: 0;
  }
  .p-home-section .p-home-section__inner .p-home-section__button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    margin: 0;
  }
}

.p-home-seminars {
  padding: 40px 20px;
  background-image: url("../images/home-seminars-bg.jpg");
  background-repeat: no-repeat;
}
@media not all and (min-width: 782px) {
  .p-home-seminars {
    background-position: right center;
    background-size: 80% auto;
  }
}
@media (min-width: 782px) {
  .p-home-seminars {
    background-position: right bottom;
  }
}
.p-home-seminars .l-archive-articles {
  gap: 40px;
}
@media (min-width: 782px) {
  .p-home-seminars .l-archive-articles {
    margin-bottom: 30px;
  }
}
@media not all and (min-width: 782px) {
  .p-home-seminars .p-home-section__inner .p-home-section__button {
    right: 20px;
  }
}

.p-home-cases {
  padding: 40px 20px 60px;
  margin-top: 60px;
  background-color: #F5F9FA;
  box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.1019607843);
}
.p-home-cases .l-archive-articles {
  gap: 40px;
}
@media (min-width: 782px) {
  .p-home-cases .l-archive-articles {
    margin-bottom: 30px;
  }
}

.p-home-news {
  padding-bottom: 40px;
}
.p-home-news .p-home-news__list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 60px;
}
.p-home-news .p-home-news__list .p-home-news__link {
  display: block;
  text-decoration: none;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-lightgray);
  padding: 10px;
  transition: background-color 0.5s;
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__meta {
  padding-left: 10px;
}
@media (min-width: 782px) {
  .p-home-news .p-home-news__list .p-home-news__link .p-home-news__meta {
    font-size: 18px;
  }
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__label {
  margin-left: 16px;
}
.p-home-news .p-home-news__list .p-home-news__link .p-home-news__title {
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}
@media (min-width: 782px) {
  .p-home-news .p-home-news__list .p-home-news__link .p-home-news__title {
    font-size: 20px;
  }
}
.p-home-news .p-home-news__list .p-home-news__link:hover {
  background-color: #f9f9f9;
}
.p-home-news .p-home-news__list .p-home-news__link:hover .p-home-news__title {
  text-decoration: underline;
}

.p-home-seminars .container,
.p-home-cases .container,
.p-home-news .container {
  padding-inline: 0;
}

.error404 .content {
  padding-bottom: 60px;
}
.error404 .content .error404__content {
  margin-bottom: 40px;
}

/* ==========================================================================
  component
========================================================================== */
.c-box {
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(155, 164, 175, 0.2509803922);
  padding: 24px;
}

.c-card {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 0 16px rgba(201, 199, 216, 0.2392156863);
  border: 1px solid rgba(201, 199, 216, 0.2470588235);
  border-radius: 4px;
}
.c-card:hover {
  box-shadow: none;
}
.c-card .c-card__link {
  text-decoration: none;
  display: block;
  padding: 40px 40px 60px;
  height: 100%;
}
.c-card .c-card__link .c-card__title {
  font-weight: var(--font-weight-bold);
  color: var(--color-link);
  margin-bottom: 0;
  line-height: 1.4;
}
@media (min-width: 1024px) {
  .c-card .c-card__link .c-card__title {
    font-size: 19px;
  }
}
.c-card .c-card__link .c-card__img {
  contain: paint;
  margin-bottom: 16px;
}
.c-card .c-card__link .c-card__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: contain;
  transition: transform 0.5s;
}
.c-card .c-card__link .c-card__meta {
  margin-bottom: 10px;
}
.c-card .c-card__link .c-card__date {
  color: var(--color-text);
  margin-right: 10px;
}
.c-card .c-card__link .c-card__more {
  text-align: right;
  margin-bottom: 0;
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: var(--color-red);
  font-weight: var(--font-weight-bold);
}
.c-card .c-card__link .c-card__excerpt {
  color: var(--color-text);
  font-size: 15px;
}
.c-card .c-card__link:hover .c-card__title,
.c-card .c-card__link:hover .c-card__excerpt,
.c-card .c-card__link:hover .c-card__more {
  text-decoration: underline;
}
.c-card .c-card__link:hover .c-card__img img {
  transform: scale(1.05);
}
.c-card.c-card--case .c-card__link {
  padding-top: 30px;
}
.c-card.c-card--case .c-card__title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 782px) {
  .c-card.c-card--case .c-card__title {
    min-height: 2.8em;
  }
}
@media (min-width: 1024px) {
  .c-card.c-card--seminar .c-card__excerpt {
    font-size: 19px;
  }
}

.c-category-label {
  color: var(--color-red);
  background-color: var(--color-pink);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding: 3px 8px;
}
.c-category-label a {
  color: var(--color-red);
  text-decoration: none;
}
.c-category-label a:hover {
  color: inherit;
}
.c-category-label.c-category-label--release {
  background-color: var(--color-beige);
  color: var(--color-brown);
}
.c-category-label.c-category-label--release a {
  color: var(--color-brown);
}
.c-category-label.c-category-label--media {
  background-color: var(--color-lightgreen);
  color: var(--color-green);
}
.c-category-label.c-category-label--media a {
  color: var(--color-green);
}

.c-category-label--lg {
  padding: 5px 20px;
}
.c-category-label--lg a {
  font-size: 19px;
  font-weight: 700;
}

.c-category-tab {
  border-bottom: 17px solid var(--color-darkgray);
}
.c-category-tab .c-category-tab__list {
  margin: 60px 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.c-category-tab .c-category-tab__list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1024px) {
  .c-category-tab .c-category-tab__list {
    overflow-x: hidden;
    overflow-y: visible;
    white-space: normal;
    column-gap: 16px;
  }
}
.c-category-tab .c-category-tab__list .cat-item {
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
}
.c-category-tab .c-category-tab__list .cat-item a {
  display: block;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-shadow: 0 0 16px rgba(201, 199, 216, 0.2392156863);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
@media (min-width: 600px) {
  .c-category-tab .c-category-tab__list .cat-item a {
    padding: 16px;
  }
}
@media (min-width: 1024px) {
  .c-category-tab .c-category-tab__list .cat-item a {
    font-size: 24px;
  }
}
.c-category-tab .c-category-tab__list .cat-item a:hover {
  border-color: var(--color-darkgray);
  background-color: var(--color-darkgray);
  color: var(--color-white);
}
.c-category-tab .c-category-tab__list .cat-item.current-cat a {
  border-color: var(--color-darkgray);
  background-color: var(--color-darkgray);
  color: var(--color-white);
}

.post-type-archive-seminars .c-category-tab--seminars .cat-item-2 a {
  border-color: var(--color-darkgray);
  background-color: var(--color-darkgray);
  color: var(--color-white);
}

.js-clickable .wp-block-image {
  contain: paint;
}
.js-clickable .wp-block-image img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.js-clickable:hover p,
.js-clickable:hover .wp-block-heading {
  text-decoration: underline;
}
.js-clickable:hover .wp-block-image img {
  opacity: 0.8;
  transform: scale(1.05);
}

a.c-link {
  font-size: 12px;
  color: var(--color-text);
}
a.c-link:hover {
  color: var(--color-hover);
}

.c-link-button {
  display: block;
  text-decoration: none;
  padding: 12px 32px;
  transition: color 0.5s, background-color 0.5s;
}
.c-link-button:hover {
  color: var(--color-hover);
}
.c-link-button.c-link-button--search, .c-link-button.c-link-button--seminar {
  color: var(--color-accent);
  border: 4px solid var(--color-accent);
  background-color: var(--color-white);
}
.c-link-button.c-link-button--search:hover, .c-link-button.c-link-button--seminar:hover {
  background-color: var(--color-lightblue);
}
.c-link-button.c-link-button--search {
  padding-left: 1em;
}
.c-link-button.c-link-button--search.is-checked {
  color: var(--color-text);
}
.c-link-button.c-link-button--contact {
  padding: 8px 24px 8px 16px !important;
  min-width: 160px;
  text-align: center !important;
}

.pagination {
  margin: 60px auto 0;
}

.nav-links {
  text-align: center;
  line-height: 1;
  font-size: 17px;
}
.nav-links > .page-numbers {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  border-radius: 100%;
  padding: 12px 16px;
}
.nav-links > .page-numbers.current {
  color: var(--color-white);
  background: var(--color-accent);
}
.nav-links > .page-numbers.dots {
  min-width: inherit;
  padding: 0;
  background: none;
  border: none;
}
.nav-links > a.page-numbers {
  color: var(--color-red);
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}
.nav-links > a.page-numbers:hover {
  color: var(--color-white);
  background: var(--color-accent);
}
.nav-links img {
  vertical-align: middle;
}
.nav-links .prev.page-numbers:hover, .nav-links .next.page-numbers:hover {
  color: var(--color-red);
  text-decoration: underline;
  background-color: transparent;
}

.c-page-title {
  text-align: center;
  padding: 12px 20px;
  color: var(--color-white);
  background: var(--color-gradient-title);
}
@media not all and (min-width: 782px) {
  .c-page-title .c-page-title__title {
    font-size: clamp(24px, 6vw, 28px);
  }
}
@media (min-width: 782px) {
  .c-page-title .c-page-title__title {
    font-size: 40px;
    padding: 32px 20px;
  }
}
.c-page-title p {
  margin-bottom: 0;
  font-weight: bold;
}

.c-social-buttons {
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0;
}
@media not all and (min-width: 600px) {
  .c-social-buttons {
    justify-content: center;
  }
}

.c-social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.c-social-button img {
  width: 24px;
  height: auto;
}
.c-social-button.c-social-button--x img {
  width: 22px;
}
.c-social-button.c-social-button--facebook img {
  width: 28px;
}

.c-social-buttons--shadow .c-social-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

@media not all and (min-width: 782px) {
  .wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles {
    flex-wrap: wrap;
  }
}
@media (min-width: 782px) {
  .wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles {
    gap: 20px;
    align-items: flex-start;
  }
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li {
  transition: background-color 0.5s, color 0.5s !important;
}
@media not all and (min-width: 782px) {
  .wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li {
    flex-basis: 50% !important;
  }
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li .tab-title-text {
  font-size: clamp(13px, 3.5vw, 15px) !important;
  transition: color 0.5s;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li .tab-title-text sup {
  top: 0;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li.active {
  border-color: #444558 !important;
}
@media (min-width: 782px) {
  .wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li.active {
    padding-bottom: 30px !important;
  }
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-nav .tabTitles li.inactive:hover .tab-title-text {
  color: var(--color-white) !important;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper {
  transition: opacity 0.5s !important;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper .eb-tab-inner {
  position: relative;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper .eb-tab-inner::after {
  content: "ISSUE 01";
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  color: rgba(151, 196, 213, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
@media not all and (min-width: 782px) {
  .wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper .eb-tab-inner::after {
    font-size: 80px;
    left: 0;
  }
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper .eb-tab-inner .wp-block-columns {
  position: relative;
  z-index: 1;
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper:nth-child(2) .eb-tab-inner::after {
  content: "ISSUE 02";
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper:nth-child(3) .eb-tab-inner::after {
  content: "ISSUE 03";
}
.wp-block-essential-blocks-advanced-tabs .eb-tabs-contents .eb-tab-wrapper:nth-child(4) .eb-tab-inner::after {
  content: "ISSUE 04";
}

.c-tag-label {
  color: var(--color-accent);
  border-radius: 24px;
  border: 1px solid var(--color-accent);
  background-color: var(--color-white);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding: 6px 16px;
  white-space: nowrap;
}
.c-tag-label a {
  color: var(--color-accent);
  text-decoration: none;
}
.c-tag-label a:hover {
  color: inherit;
}

.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container {
  background-color: var(--color-lightgray);
  padding: 24px;
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li > a {
  color: var(--color-text);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li > a:hover {
  color: var(--color-hover);
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li .eb-toc__list {
  margin-top: 0;
  background-color: transparent;
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li .eb-toc__list li a {
  color: var(--color-link);
  font-size: 16px;
  text-decoration: underline;
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li .eb-toc__list li a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-arrow-gradient.svg") no-repeat;
  width: 18px;
  height: 16px;
  margin-top: 6px;
  margin-right: 4px;
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li .eb-toc__list li a:hover {
  color: var(--color-hover);
}
.wp-block-essential-blocks-table-of-contents .eb-parent-wrapper > .eb-toc-container > .eb-toc-wrapper > .eb-toc__list-wrap > .eb-toc__list > li + li {
  margin-top: 10px;
}

.c-toggle {
  position: relative;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border: none;
  background-color: var(--color-white);
  color: var(--color-text);
  font-size: 10px;
  font-weight: bold;
}
.c-toggle .c-toggle__icon,
.c-toggle .c-toggle__icon::before,
.c-toggle .c-toggle__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 25px;
  background-color: var(--color-text);
  transition: all 0.5s ease-in-out;
}
.c-toggle .c-toggle__icon {
  transform: translate3d(-50%, -8px, 0);
}
.c-toggle .c-toggle__icon::before {
  transform: translate3d(-50%, -10px, 0);
}
.c-toggle .c-toggle__icon::after {
  transform: translate3d(-50%, 6px, 0);
}
.c-toggle .c-toggle__text {
  position: relative;
  top: 14px;
}
.c-toggle[aria-expanded=true] .c-toggle__icon {
  background-color: transparent;
}
.c-toggle[aria-expanded=true] .c-toggle__icon::before {
  transform: translateX(-50%) rotate(45deg);
  top: 2px;
}
.c-toggle[aria-expanded=true] .c-toggle__icon::after {
  transform: translateX(-50%) translateY(-10px) rotate(-45deg);
  top: 12px;
}

/* ==========================================================================
  blocks
========================================================================== */
.wp-block-button__link {
  border-radius: 0;
  padding: 0.75em 2em;
  color: var(--color-white);
  transition: opacity 0.5s;
}
.wp-block-button__link:hover {
  color: var(--color-white);
  opacity: 0.6;
}

.is-style-icon-arrow-gradient .wp-block-button__link {
  color: var(--color-white);
  background: var(--color-gradient-button);
  position: relative;
  z-index: 1;
  transition: color 0.5s, background-color 0.5s, opacity 0s;
}
.is-style-icon-arrow-gradient .wp-block-button__link::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
}
.is-style-icon-arrow-gradient .wp-block-button__link::before {
  content: "";
  background: var(--color-gradient-button-hover);
  border: 1px solid transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
  width: 0;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover {
  opacity: 1;
  color: #2E37A5;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover::after {
  color: #2E37A5;
}
.is-style-icon-arrow-gradient .wp-block-button__link:hover::before {
  width: 100%;
  border-color: #B7BDFF;
}
.is-style-icon-arrow-gradient .wp-block-button__link {
  padding: 0.75em 3em 0.75em 2.5em;
}
.is-style-icon-arrow-gradient .wp-block-button__link::after {
  position: absolute;
  top: 50%;
  right: 12px;
  height: 8px;
  width: 8px;
  -webkit-mask-image: url("../images/icon-arrow-right.svg");
          mask-image: url("../images/icon-arrow-right.svg");
  transform: translateY(-50%);
}

.is-style-icon-download-gradient .wp-block-button__link {
  color: var(--color-white);
  background: var(--color-gradient-button);
  position: relative;
  z-index: 1;
  transition: color 0.5s, background-color 0.5s, opacity 0s;
}
.is-style-icon-download-gradient .wp-block-button__link::before {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
}
.is-style-icon-download-gradient .wp-block-button__link::after {
  content: "";
  background: var(--color-gradient-button-hover);
  border: 1px solid transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: width 0.5s;
  width: 0;
}
.is-style-icon-download-gradient .wp-block-button__link:hover {
  opacity: 1;
  color: var(--color-link);
}
.is-style-icon-download-gradient .wp-block-button__link:hover::before {
  color: var(--color-link);
}
.is-style-icon-download-gradient .wp-block-button__link:hover::after {
  width: 100%;
  border-color: #B7BDFF;
}
.is-style-icon-download-gradient .wp-block-button__link::before {
  height: 1em;
  width: 1em;
  margin-right: 10px;
  -webkit-mask-image: url("../images/icon-download.svg");
          mask-image: url("../images/icon-download.svg");
  transform: translateY(-3px);
}

.is-style-icon-download-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-download-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-download-outline .wp-block-button__link::before {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  margin-right: 10px;
  -webkit-mask-image: url("../images/icon-download.svg");
          mask-image: url("../images/icon-download.svg");
  transform: translateY(-3px);
}

.is-style-icon-arrow-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-arrow-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-arrow-outline .wp-block-button__link {
  padding: 0.75em 3em 0.75em 2.5em;
  position: relative;
}
.is-style-icon-arrow-outline .wp-block-button__link::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 12px;
  height: 8px;
  width: 8px;
  -webkit-mask-image: url("../images/icon-arrow-right.svg");
          mask-image: url("../images/icon-arrow-right.svg");
  transform: translateY(-50%);
}

.is-style-icon-modal-outline .wp-block-button__link {
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(5, 5, 167, 0.2509803922);
  transition: background-color 0.5s, box-shadow 0.5s;
}
.is-style-icon-modal-outline .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-icon-modal-outline .wp-block-button__link {
  padding: 10px 50px 10px 30px;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  box-shadow: 2px 2px 8px 0 rgba(155, 164, 175, 0.1490196078);
  color: var(--color-blue);
  position: relative;
  font-size: 12px;
}
@media not all and (min-width: 1024px) {
  .is-style-icon-modal-outline .wp-block-button__link {
    width: 100%;
  }
}
@media (min-width: 782px) {
  .is-style-icon-modal-outline .wp-block-button__link {
    font-size: 15px;
  }
}
.is-style-icon-modal-outline .wp-block-button__link::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-popup.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.is-style-with-image-circle {
  width: 100%;
  position: relative;
}
.is-style-with-image-circle::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  transform: rotate(45deg) translateY(-50%);
  transition: border-color 0.5s;
}
.is-style-with-image-circle:hover::after {
  border-color: var(--color-accent);
}
.is-style-with-image-circle .wp-block-button__link {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 0.75em;
  text-align: left;
  color: var(--color-blue);
  background-color: var(--color-white);
  box-shadow: 0 0 35px rgba(155, 164, 175, 0.1490196078);
  transition: background-color 0.5s, box-shadow 0.5s;
  position: relative;
}
@media (min-width: 1280px) {
  .is-style-with-image-circle .wp-block-button__link {
    height: 120px;
    grid-template-columns: 125px 1fr;
  }
}
.is-style-with-image-circle .wp-block-button__link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 36px;
  background: linear-gradient(180deg, #7E7EFF 0%, #4A97FF 100%) 0 0 no-repeat;
  transition: opacity 0.5s;
}
.is-style-with-image-circle .wp-block-button__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 36px;
  background-color: var(--color-white);
  opacity: 0;
  transition: opacity 0.5s;
}
.is-style-with-image-circle .wp-block-button__link sup {
  grid-area: 1/1/3/2;
}
.is-style-with-image-circle .wp-block-button__link sup img {
  transform: translateY(-25px);
}
.is-style-with-image-circle .wp-block-button__link strong {
  grid-area: 1/2/2/3;
  font-size: 22px;
  line-height: 1.2;
  place-content: end;
}
@media (min-width: 1024px) {
  .is-style-with-image-circle .wp-block-button__link strong {
    font-size: 28px;
  }
}
.is-style-with-image-circle .wp-block-button__link em {
  grid-area: 2/2/3/3;
  font-style: normal;
  line-height: 2;
}
.is-style-with-image-circle .wp-block-button__link:hover {
  background-color: var(--color-lightblue);
  opacity: 1;
  box-shadow: 0 0 5px rgba(5, 5, 167, 0.2509803922);
}
.is-style-with-image-circle .wp-block-button__link:hover::before {
  opacity: 0;
}
.is-style-with-image-circle .wp-block-button__link:hover::after {
  opacity: 1;
}
.is-style-with-image-circle .wp-block-button__link:hover img {
  opacity: 1;
}

@media (min-width: 782px) {
  .wp-block-columns.is-layout-flex {
    gap: 45px;
  }
}
@media not all and (min-width: 782px) {
  .wp-block-columns.is-style-reverse {
    flex-direction: column-reverse;
  }
}

.wp-block-simple-definition-list-blocks-list .wp-block-simple-definition-list-blocks-div {
  display: flex;
}
.wp-block-simple-definition-list-blocks-list .wp-block-simple-definition-list-blocks-term {
  font-weight: var(--font-weight-bold);
  flex-basis: 6.5rem;
}

.wp-block-gallery.is-style-customer-logos {
  justify-content: center;
  margin-bottom: 40px;
}
.wp-block-gallery.is-style-customer-logos > .wp-block-image {
  padding: 0 1rem;
  flex-grow: 0 !important;
  margin: auto 0 !important;
  width: calc(33.3333333333% - 16px) !important;
  min-height: 70px;
}
@media (min-width: 600px) {
  .wp-block-gallery.is-style-customer-logos > .wp-block-image {
    width: calc(25% - 16px) !important;
  }
}
@media (min-width: 782px) {
  .wp-block-gallery.is-style-customer-logos > .wp-block-image {
    width: calc(16.6666666667% - 16px) !important;
  }
}
@media (min-width: 1024px) {
  .wp-block-gallery.is-style-customer-logos > .wp-block-image {
    width: calc(11.1111111111% - 16px) !important;
  }
}

.is-layout-grid {
  gap: 20px;
}

.wp-block-group {
  margin-bottom: 40px;
}
.wp-block-group .is-style-has-gradient-bg {
  margin: 0;
}
@media (min-width: 1024px) {
  .wp-block-group .is-layout-grid {
    grid-gap: 40px;
  }
}
@media not all and (min-width: 782px) {
  .wp-block-group .is-layout-grid {
    grid-template-columns: 1fr;
  }
}

.is-style-has-shadow {
  background-color: var(--color-white);
  box-shadow: 0 0 36px rgba(155, 164, 175, 0.1490196078);
  padding: 24px;
}

.is-style-has-gray-bg {
  background-color: var(--color-lightgray);
  padding: 24px;
}

.is-style-has-gradient-bg {
  background: linear-gradient(130deg, #FFEDF4 0%, #F3DDFF 51%, #D9F8FF 100%) 0 0 no-repeat;
  box-shadow: 0px -20px 30px rgba(70, 70, 70, 0.1019607843);
}

.is-style-has-gradient-bg-dark {
  background: transparent linear-gradient(120deg, #2A2189 0%, #531C29 100%) 0 0 no-repeat;
  box-shadow: 0px -20px 30px rgba(70, 70, 70, 0.1019607843);
}

.has-gradient1-gradient-background {
  background: var(--color-gradient-title);
}

.has-gradient2-gradient-background {
  background: var(--color-gradient-heading);
}

.has-gradient3-gradient-background {
  background: var(--color-gradient-bg);
}

.has-gradient4-gradient-background {
  background: var(--color-gradient-button);
}

.is-style-gradient-pb {
  padding: 12px 20px;
  background: var(--color-gradient-heading);
}

.is-style-underline-gradient {
  position: relative;
  z-index: 1;
}
.is-style-underline-gradient::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  z-index: -1;
  width: 50%;
  max-width: 440px;
  height: 20px;
  background: transparent linear-gradient(90deg, #7E7EFF 0%, #608CFF 51%, rgba(74, 151, 255, 0) 100%) 0 0 no-repeat;
  opacity: 0.4;
  transform: translateX(100%);
}
@media (min-width: 782px) {
  .is-style-underline-gradient::after {
    bottom: -10px;
    height: 40px;
  }
}

.is-style-left-gradient {
  position: relative;
  z-index: 1;
  padding-left: 0.8em;
}
.is-style-left-gradient::before {
  content: "";
  position: absolute;
  left: 0;
  top: -28px;
  z-index: -1;
  width: 72px;
  height: 60px;
  background: transparent linear-gradient(90deg, #7E7EFF 0%, #608CFF 51%, rgba(74, 151, 255, 0) 100%) 0 0 no-repeat;
  opacity: 0.4;
}
@media not all and (min-width: 782px) {
  .is-style-left-gradient {
    text-align: center;
  }
  .is-style-left-gradient::before {
    width: 60px;
    height: 45px;
    left: auto;
    top: -20px;
    transform: translateX(-50%);
  }
}

.wp-block-image {
  margin-bottom: 40px;
}
.wp-block-image .wp-element-caption {
  color: var(--color-text);
  text-align: left;
  font-size: 16px;
}

.is-style-photo-frame {
  margin-right: 10px;
}
.is-style-photo-frame img {
  box-shadow: 10px 10px 0 var(--color-lightblue);
}

.is-style-background-color-white {
  background-color: var(--color-white);
}

.content .is-style-toc {
  list-style: none;
  margin: 0;
}

.is-style-toc {
  list-style: none;
}
.is-style-toc > li > a {
  color: var(--color-text);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}
.is-style-toc > li > a:hover {
  color: var(--color-hover);
}
.is-style-toc > li > .wp-block-list {
  list-style: none;
}
.is-style-toc > li > .wp-block-list li a {
  color: var(--color-link);
  font-size: 16px;
  text-decoration: underline;
}
.is-style-toc > li > .wp-block-list li a::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-arrow-gradient.svg") no-repeat;
  width: 18px;
  height: 16px;
  margin-top: 6px;
  margin-right: 4px;
}
.is-style-toc > li > .wp-block-list li a:hover {
  color: var(--color-hover);
}
.is-style-toc > li + li {
  margin-top: 10px;
}

.is-style-button-coming-soon {
  font-size: 12px;
  color: #848484;
  border: 2px solid #BEBEBE;
  background-color: var(--color-white);
  padding: 8px 16px 8px 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media not all and (min-width: 1024px) {
  .is-style-button-coming-soon {
    flex-basis: 100%;
    text-align: center;
  }
}
@media (min-width: 782px) {
  .is-style-button-coming-soon {
    font-size: 15px;
  }
}
.is-style-button-coming-soon mark {
  text-align: center;
  flex-grow: 1;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .is-style-button-coming-soon mark {
    padding-left: 86px;
  }
}
.is-style-button-coming-soon::after {
  content: "coming soon";
  display: inline-block;
  vertical-align: text-top;
  font-size: 9px;
  color: var(--color-text);
  background-color: #BEBEBE;
  border-radius: 30px;
  padding: 4px 16px;
  margin-left: 2em;
  white-space: nowrap;
}

/* ==========================================================================
  utility
========================================================================== */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Alignment Classes ------------------------- */
/* Full */
.alignfull {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

/* Wide */
.alignwide {
  max-width: 1280px;
  position: relative;
  width: 100%;
}

.alignleft {
  max-width: 100%;
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  max-width: 100%;
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.aligncenter img {
  margin-inline: auto;
  display: block;
}

/* Entry Media ------------------------------- */
.alignfull > figcaption,
.alignfull > .wp-caption-text {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}

@media (min-width: 600px) {
  .hide-over-xs {
    display: none !important;
  }
}

@media not all and (min-width: 600px) {
  .hide-under-xs {
    display: none !important;
  }
}

@media (min-width: 782px) {
  .hide-over-sm {
    display: none !important;
  }
}

@media not all and (min-width: 782px) {
  .hide-under-sm {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hide-over-md {
    display: none !important;
  }
}

@media not all and (min-width: 1024px) {
  .hide-under-md {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .hide-over-lg {
    display: none !important;
  }
}

@media not all and (min-width: 1280px) {
  .hide-under-lg {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

*:hover .hover-underline-none {
  text-decoration: none !important;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  opacity: 0.8;
}
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../images/loading.gif") center center no-repeat;
}

/*# sourceMappingURL=style.css.map */